@font-face {
  font-family: "iconfont"; /* Project id 4862663 */
  src: url('//at.alicdn.com/t/c/font_4862663_oq2pkw6yn1e.woff2?t=1742595446432') format('woff2'),
       url('//at.alicdn.com/t/c/font_4862663_oq2pkw6yn1e.woff?t=1742595446432') format('woff'),
       url('//at.alicdn.com/t/c/font_4862663_oq2pkw6yn1e.ttf?t=1742595446432') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e668";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-share:before {
  content: "\e7e7";
}

.icon-comment:before {
  content: "\e8e8";
}

.icon-message:before {
  content: "\e78a";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-star:before {
  content: "\e7e0";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-like-fill:before {
  content: "\e869";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-fish:before {
  content: "\e61e";
}
